.nivapay_ramp {
  margin: 0 1.7rem;
}

.choosecurrency {
  font-size: 20px !important;
  color: #2c1e66;
  text-align: center;
  letter-spacing: 0.02em;
  font-style: normal;
  font-weight: 500;
  padding: 15px 8px 15px 10px;
}

.continue_btn {
  width: 98%;
  background: #1371bc;
  text-transform: capitalize !important;
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 17px !important;
  line-height: 28px !important;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f5f5f5;
  box-shadow: none;
  padding: 10px 16px;
}
.continue_btn:disabled {
  width: 98%;
  background-color: rgba(19, 113, 188, 0.5) !important;
  text-transform: capitalize !important;
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 17px !important;
  line-height: 28px !important;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f5f5f5;
  box-shadow: none;
  padding: 10px 16px;
}

/* Stack container */
.stack-container {
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* Typography styles */
.currency-text {
  font-size: 12px;
  font-family: Inter;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 500;
}

.network-text {
  background: rgba(214, 214, 214, 0.5);
  border-radius: 10%;
  padding: 3px;
  color: #595959;
}

.pay-info {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  font-family: Inter;
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.info-icon {
  width: 14px !important;
  color: rgba(0, 0, 0, 0.5);
  margin-top: -2px !important;
}

/* Crypto item */
.crypto-item {
  justify-content: space-around;
  border-radius: 10px;
  padding: 4px;
  cursor: pointer;
}

.selected {
  background-color: #e5f0ff;
}

/* Crypto info and amount styles */
.crypto-info {
  display: flex;
  align-items: center;
}

.crypto-logo {
  margin-right: 0.5rem;
}

.crypto-details {
  display: flex;
  flex-direction: column;
}

.crypto-symbol {
  color: #2c1e66;
  font-weight: 600;
  font-size: 14px;
}

.crypto-name {
  padding-left: 7px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 400;
}

.crypto-network {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  background: rgba(214, 214, 214, 0.5);
  border-radius: 4px;
  padding: 2px 8px;
  color: #595959;
  text-transform: capitalize;
  width: fit-content;
  margin-left: 5px;
}

.crypto-amount {
  display: flex;
  align-items: center;
}

.crypto-amount-value {
  color: #21146b;
  font-size: 16px;
  font-weight: 600;
  padding: 2px;
  text-align: end;
  line-height: 48px;
}

.crypto-list-skeleton {
  width: 360px;
  margin-top: 5px;
  height: 60px !important;
}

@media screen and (max-width: 400px) {
  .crypto-list-skeleton {
    width: 85vw;
    margin-top: 5px;
  }
}
