.paymentcontent-wrap {
    padding: 2px 25px;
    box-sizing: border-box;
    margin-top: 50px;

    .input-wrap {
        height: 50px;
        border: 1px solid rgba(43, 131, 255, 0.32);
        border-radius: 4px;
        width: 100%;
        min-width: 120px;
        padding-left: 10px;
        box-sizing: border-box;
        margin-top: 8px;
    }

    .receiptPay {
        width: 100%;
        margin-top: 70px;
        text-transform: inherit;
        font-size: 18px;
        // background-color: #f18b00;
        padding: 5px;
        box-shadow: none;
    }

    .cancelbtn {
        border: 1px solid #FF5600;
        width: 100%;
        // margin: 52px 10px 20px 10px;
        margin-top: 50px;
        text-transform: capitalize;
        color: #FF5600;
    }
}

// .nheader-wrap {
//     width: 100%;
//     height: 50px;
//     background-color: #f18b00;
//     position: absolute;
//     top: 0;
//     left: 0;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 0 8px;
//     box-sizing: border-box;
// }