.paymentcontent-wrap {
    padding: 2px 25px;
    box-sizing: border-box;
    margin-top: 50px;

    .input-wrap {
        height: 50px;
        border: 1px solid rgba(43, 131, 255, 0.32);
        border-radius: 4px;
        width: 100%;
        min-width: 120px;
        padding-left: 10px;
        box-sizing: border-box;
        margin-top: 8px;
    }

    .receiptPay {
        width: 100%;
        background: #1371BC !important;
        text-transform: capitalize !important;
        font-family: 'Inter' !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 17px !important;
        line-height: 28px !important;
        display: flex;
        align-items: center;
        text-align: center;
        color: #F5F5F5;
        box-shadow: none;
        padding: 10px 16px;
    }

    .cancelbtn {
        // max-width: 325px !important;
        border: 1px solid #FF5600;
        // width: 100%;
        // margin: 52px 10px 20px 10px;
        margin-top: 50px;
        text-transform: capitalize;
        color: #FF5600;
    }
}

// .nheader-wrap {
//     width: 100%;
//     height: 50px;
//     background-color: #f18b00;
//     position: absolute;
//     top: 0;
//     left: 0;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 0 8px;
//     box-sizing: border-box;
// }