.currency {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700 !important;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: rgba(0, 0, 0, 0.5);
}

.info {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.06em;
  color: rgba(0, 0, 0, 0.5);
}

.cryptobtn {
  max-width: 325px !important;
  text-transform: inherit !important;
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 17px !important;
  line-height: 28px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  color: #f5f5f5 !important;
  width: 100% !important;
  box-shadow: none !important;
  height: 55px;
  border-radius: 8px;
}

.detecting-divider {
  margin-top: 43%;
  margin-bottom: 1%;
}

.title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  padding: 1rem;
  display: flex;
  color: #2c1e66;
  justify-content: center;
}

.subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.subtitle2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #808080;
  margin-top: 6%;
  margin-bottom: 40px;
}

.footer-subdiv {
  margin-bottom: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 7px;
}

.section-subdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.icon-button{
  border: 1px solid;
  border-radius: 20%;
  padding: 5px;
  margin-left: 0px;
}

.divider-div{
  margin-top: 1%
}
.divider{
  border-bottom-width: 1.5px
}

@media screen and (max-width: 1600px) {
  .detecting-divider {
    margin-top: 23%;
    margin-bottom: 1%;
  }
}
