body {
  margin: 0;
  font-style: normal !important;
  font-family: "Inter" !important;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./assets/fonts/Inter-Regular.ttf) format("truetype");
}

.timer {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #000000;
  font-family: Inter;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 1.7rem;
  margin-right: 1.7rem;
}