body {
  margin: 0;
  font-style: normal !important;
  font-family: "Inter" !important;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./assets/fonts/Inter-Regular.ttf) format("truetype");
}

.timer {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #000000;
  font-family: Inter;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 1.7rem;
  margin-right: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerSmall {
  position: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 1.7rem;
  margin-right: 1.7rem;
}

.nivapay_section_container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nivapay_section {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.header_main {
  background-color: #279ffe !important;
  box-shadow: none;
  border-radius: 33px 33px 0px 0px;
  height: 98px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.header_sub {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 22px;
  margin-top: 13px;
}
.main_section {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 33px;
  height: 100%;
}

.logo {
  width: 30px;
  height: 30px;
}

.header_title {
  text-transform: capitalize;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.05rem;
}

@media screen and (max-width: 414px) {
  .header_main {
    border-radius: 0px;
  }
  .main_section {
    border-radius: 0px;
  }
}

/* LogoGlowMet.css */
.logo-container {
  position: relative;
  /* width: 150px; Adjust the size of the container as needed */
  height: 105px;
}

.logo-glow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Adjust the glow color and opacity */
  animation: logoGlowAnimation 2s ease-in-out infinite;
  z-index: -1;
}

@keyframes logoGlowAnimation {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
